




body{
              
}
.css{
          background-color: #180E0C;
          font-size: 16px;
          line-height: 18px;
          weigth: 400;
          font-family: adobe-clean, sans-serif;
          color: #C5C3C2;
          



}
p{
               color: blueviolet;
               font-size: 20px;
}





.meu{
               color: black;

}

